datacenter          = "{{ consul_datacenter }}"
data_dir            = "/var/lib/consul"
encrypt             = "{{ consul_encrypt_key }}"
ui                  = {% if consul_ui_enabled %}true{% else %}false{% endif %}

advertise_addr      = "{{ ansible_host }}"
client_addr         = "0.0.0.0"

retry_join          = [
    {%- for server in groups[consul_servers_host_group] -%}
        "{{ hostvars[server].ansible_host }}"
        {%- if not loop.last -%}, {% endif -%}
    {%- endfor -%}
]

performance {
  raft_multiplier = 1
}
